#navP{
	text-align: center;
}

#conteudo{
    text-align:center;
    overflow: hidden;
}

#sidebarP {
    float: left;
    clear:both;
    width: 20%;
    height: 580px;
    text-align:center;
    position: relative;
}

#corpo{
    padding: 10px;
    margin-left: 20px;
	width:76%;
    float:left;
    overflow: auto;
    max-height: 680px;
    background: #B7C3D0;
}

#desc{
    text-align: justify;
    overflow: auto;
    max-height:300px;
    font-size: 12px;
}

#Similar{
    margin: 10px;
    padding:10px;
    text-align: center;
    overflow: hidden;
    height: 170px;
}

#similarP {
    overflow: auto;
    height: 195px;
}

.sameTM{
    height: 80px;
    width: 80px;
}

#tradeMark{
    overflow: auto;
    height:40%;
}